internalDocumentation/**     -diff -merge
internalDocumentation/**     linguist-generated=true
*.cmake    		     text eol=lf 
*.cpp      		     text eol=lf 
*.cpp-inc  		     text eol=lf 
*.h        		     text eol=lf 
*.desc     		     text eol=lf 
*.ltx      		     text eol=lf 
*.natvis   		     text eol=crlf
